@import 'vars';

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url('../fonts/opensans.woff'),
       url('../fonts/opensans.woff2');
}

@font-face {
  font-family: "OpenSansBold";
  src: url('../fonts/opensansbold.woff'),
       url('../fonts/opensansbold.woff2');
}

@font-face {
  font-family: "OpenSansLight";
  src: url('../fonts/opensanslight.woff'),
       url('../fonts/opensanslight.woff2');
}

.body {
  width: 320px;
  @include font-type('OpenSans');
  margin: 0;
}

.main-container {
  padding: 0 20px;
}

.hidden {
  display: none;
}

@media (min-width: 660px) {
  .body {
    width: 660px;
    margin: 0 auto;
  }
}