@import 'vars';

.download {
  background-color: $bg-color;

  & .main-container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__button {
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 3px solid white;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    white-space: nowrap;
    padding: 16px 12px;
  }

  &__choose-os {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    padding-left: 37px;
  }

  &__os-item {
    flex-basis: 33.33%;
  }

  &__description {
    color: white;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

