@import 'vars';

.prices {
  background-color: #f2f2f2;
  transform: skewY(-5deg);
  padding-top: 77px;
  margin-top: 34px;
  .prices__item {
    transform: skewY(5deg);
  }

  .prices__header {
    background-color: #283645;
    text-align: center;
    color: #ffffff;
    padding: 17px 0 22px;
  }
  .prices__price-plan {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
  }
  .prices__amount {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    font-weight: lighter;
  }
  .prices__image,
  .prices__service-text {
    display: inline-block;
  }
  .prices__image {
    width: 20px;
    height: 20px;
  }


}
