@import 'vars';

.reviews {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 26px;
  & .main-container {
    overflow: hidden;
  }
  &__slider {
    width: 300%;
  }
  &__item {
    float: left;
    width: 33.33%;
  }

  &__item--hidden {
    visibility: hidden;
  }

  &__header {
    font-size: 18px;
    line-height: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin-top: -6px;
  }
}