@import '../vars';

.contacts {
  //background:  url('../../img/bg-triangle-white-footer.svg') no-repeat 50% 400px, url('../../img/bg-map-mobile@1x.png') no-repeat 50% 400px;
  background-color: #ffffff;
  background-size: contain, cover;
  text-align: center;
  padding: 30px 0 0;
  margin-top: -30px;
  position: relative;

  .contacts__header {
    @include font-type("OpenSansLight");
    font-weight: 100;
    font-size: 24px;
    line-height: 29px;
    color: $clr-darkblue;
  }

  .contacts__small-header {
    @include font-type("OpenSansBold");
    font-size: 18px;
    margin-bottom: 10px;
    color: $clr-darkblue;
  }

  .contacts__text {
    @include font-type("OpenSansLight");
    font-weight: 100;
    font-size: 24px;
    color: $clr-pink;
    text-decoration: none;
  }

  .contacts__map-container {
    background:  url('../../img/bg-triangle-white-footer.svg') no-repeat top, url('../../img/bg-map-mobile@1x.png') no-repeat center;
    position: relative;
    z-index: 3;
    padding-bottom: 200px;
  }

  .contacts__map-point {
    position: absolute;
    top: 50%;
  }
}