@import '../vars';

.controls {
  box-sizing: border-box;
  text-align: center;
  &--prices {
    padding: 19px 0 54px;
    @include adaptive(tablet) {
      display: none;
    }
  }
  &--reviews {
    @include adaptive(desktop) {
      display: none;
    }
    .controls__label {
      margin: 17px 8px 26px;
    }
  }
}

.controls__control-button {
  display: none;
}

.controls__label {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparentize($clr-darkblue, 0.7);
  margin: 22px 8px;
  @include adaptive(tablet) {
    margin: 20px 7px 24px;
  }
  &:hover {
    background-color: transparentize($clr-darkblue, 0.4);
  }
  &:active {
    background-color: transparentize($clr-darkblue, 0.9);
  }
}

#first-slide:checked ~ .controls__label[for='first-slide'],
#second-slide:checked ~ .controls__label[for='second-slide'],
#third-slide:checked ~ .controls__label[for='third-slide'],
#first-control:checked ~ .controls__label[for='first-control'],
#second-control:checked ~ .controls__label[for='second-control'],
#third-control:checked ~ .controls__label[for='third-control'] {
  border: 3px solid $clr-darkblue;
  background-color: $clr-white;
}
