@import '../vars';

.contacts {
  background-color: #ffffff;
  background-size: contain, cover;
  text-align: center;
  padding: 19px 0 0;
  margin-top: -30px;
  position: relative;
  @include adaptive(tablet) {
    padding-top: 4px;
    margin-top: 0;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include adaptive(tablet) {
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
  }
  @include adaptive(desktop) {
    margin-top: 32px;
  }
}
.contacts__item {
  @include adaptive(tablet) {
    flex-basis: 50%;
    margin-bottom: 22px;
    &:last-child {
      flex-basis: 40%;
      margin: 0 auto;
    }
  }
  @include adaptive(desktop) {
    flex-basis: 33.33%;
    &:last-child {
      flex-basis: 33.33%;
      order: 2;
    }
    &:nth-child(2) {
      order: 3;
    }
  }
}

.contacts__header {
  @include font-light();
  font-size: 24px;
  line-height: 29px;
  color: $clr-darkblue;
  margin-bottom: 10px;
  text-align: center;
  @include adaptive(tablet) {
    font-size: 40px;
    line-height: 49px;
    padding: 0 21px;
    margin-bottom: 19px;
    margin-top: 40px;
  }
  @include adaptive(desktop) {
    font-size: 50px;
    line-height: 60px;
    padding: 0 120px;
    margin-top: 60px;
  }
}

.contacts__small-header {
  @include font-bold();
  font-size: 18px;
  color: $clr-darkblue;
  margin-bottom: 0;
  margin-top: 24px;
  @include adaptive(tablet) {
    margin-bottom: 4px;
  }
  @include adaptive(desktop) {
    margin-bottom: 22px;
  }
}

.contacts__text {
  @include font-light();
  font-size: 24px;
  line-height: 29px;
  color: $clr-pink;
  text-decoration: none;
  margin-top: 6px;
  margin-bottom: 37px;
  &:last-child {
    @include adaptive(tablet) {
      margin-bottom: 24px;
    }
  }
  @include adaptive(desktop) {
    padding: 0 12px;
  }
}

.contacts__map-container {
  background: url('../../img/bg-triangle-white-footer.svg') no-repeat top, url('../../img/bg-map-mobile@1x.png') no-repeat 50% 100%;
  position: relative;
  z-index: 3;
  padding-bottom: 200px;
  @include adaptive(tablet) {
    background: url('../../img/bg-triangle-white-footer.svg') no-repeat top, url('../../img/bg-map-tablet@1x.jpg') no-repeat 50% 73%;
    padding-bottom: 379px;
  }
  @include adaptive(desktop) {
    background: url(../../img/bg-triangle-white-footer.svg) no-repeat top, url(../../img/bg-map-desktop@1x.jpg) no-repeat 50% 59%;
    padding-bottom: 499px;
  }
}

.contacts__map-point {
  position: absolute;
  top: 47%;
  left: 45%;
  @include adaptive(tablet) {
    top: 52%;
    left: 47.5%;
  }
  @include adaptive(desktop) {
    top: 52.5%;
    left: 48.5%;
  }
}
