@import '../vars';

.contacts {
  background-color: #ffffff;
  background-size: contain, cover;
  text-align: center;
  padding: 19px 0 0;
  margin-top: -30px;
  position: relative;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include adaptive(tablet) {
    flex-direction: row;
  }
}
.contacts__item {
  @include adaptive(tablet) {
    flex-basis: 50%;
    &:last-child {
      flex-grow: 1;
    }
  }
  @include adaptive(desktop) {
    flex-basis: 33.33%;
    &:last-child {
      flex-grow: 0;
    }
  }
}

.contacts__header {
  @include font-light();
  font-size: 24px;
  line-height: 29px;
  color: $clr-darkblue;
  margin-bottom: 33px;
  text-align: center;
  @include adaptive(tablet) {
    font-size: 40px;
    line-height: 49px;
  }
}

.contacts__small-header {
  @include font-bold();
  font-size: 18px;
  color: $clr-darkblue;
  margin-bottom: 0;
  margin-top: 24px;
}

.contacts__text {
  @include font-light();
  font-size: 24px;
  line-height: 29px;
  color: $clr-pink;
  text-decoration: none;
  margin-top: 6px;
  margin-bottom: 37px;
}

.contacts__map-container {
  background: url('../../img/bg-triangle-white-footer.svg') no-repeat top, url('../../img/bg-map-mobile@1x.png') no-repeat center;
  position: relative;
  z-index: 3;
  padding-bottom: 200px;
}

.contacts__map-point {
  position: absolute;
  top: 50%;
}
