@import '../vars';

.features {
  background: linear-gradient(-5.4deg, $clr-lightgrey 95%, $clr-white 95%);
  padding-top: 77px;
  text-align: center;
  margin-bottom: -48px;
  @include adaptive(tablet) {
    background: linear-gradient(-4.5deg, $clr-lightgrey 91%, $clr-white 91%);
    margin-bottom: 0;
    padding-top: 0;
  }
  @include adaptive(desktop) {
    position: relative;
    margin-bottom: 0;
    background: linear-gradient(-4.5deg, $clr-lightgrey 83%, $clr-white 83%);
  }
}

.features__header {
  @include font-bold();
  font-size: 18px;
  line-height: 24px;
  color: $clr-black;
  @include adaptive(tablet) {
    margin-bottom: 22px;
  }
  @include adaptive(desktop) {
    font-size: 30px;
    line-height: 30px;
    margin-top: 53px;
    padding: 0 30px;
  }
}

.features__text {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-darkblue;
  margin-top: -7px;
  margin-bottom: 14px;
  @include adaptive(tablet) {
    margin-top: -11px;
    margin-bottom: 18px;
  }
  @include adaptive(desktop) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 26px;
    margin-top: 26px;
  }
}

.features__pink-image {
  max-width: 100%;
  height: auto;
  margin-top: 28px;
  @include adaptive(tablet) {
    margin-bottom: -3px;
    margin-top: 0;
  }
  &--hidden-mobile {
    display: none;
    @include adaptive(desktop) {
      display: block;
      padding: 0 3px 0 7px;
      margin: 0;
    }
  }
  &--hidden-desktop {
    @include adaptive(desktop) {
      display: none;
    }
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptive(tablet) {
    flex-direction: row;
  }
  @include adaptive(desktop) {
    display: block;
  }
}

.features__images-content {
  @include adaptive(tablet) {
    order: 1;
    flex-basis: 50%;
    text-align: left;
  }
}

.features__text-content {
  display: flex;
  flex-direction: column;
  @include adaptive(tablet) {
    order: 2;
    flex-basis: 50%;
    text-align: left;
    padding-top: 26px;
    margin-left: 4px;
  }
  @include adaptive(desktop) {
    flex-direction: row;
    flex-basis: 100%;
    text-align: center;
    margin-left: 0;
  }
}

.features__item {
  @include adaptive(tablet) {
    flex-basis: 33.33%;
    &:first-child {
      margin-left: -2px;
    }
  }
  @include adaptive(desktop) {
    flex-basis: 33.33%;
    &:nth-child(2) {
      margin: 0 20px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
