@import '../vars';

.features {
  background-color: $bg-lightgrey;
  transform: skewY(-5deg);
  padding-top: 50px;
  text-align: center;
  margin-bottom: -48px;
  .features__item {
    transform: skewY(5deg);
  }
  .features__header {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
  .features__text {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    margin-top: -7px;
    margin-bottom: 32px;
  }
  .features__pink-image {
    transform: skewY(5deg);
    margin-top: 9px;
  }
}