@import '../vars';

.form-text {
  margin-top: 31px;
  @include adaptive(tablet) {
    margin-top: 91px;
  }
  &--contacts {
    margin-top: -5px;
    @include adaptive(tablet) {
      order: 3;
    }
    @include adaptive(desktop) {
      flex-basis: 100%;
    }
    .form-text__fieldset {
      @include adaptive(tablet) {
        border: 2px solid #eeeeee;
        margin: 58px 0 0;
        padding: 34px 58px 0;
      }
      @include adaptive(desktop) {
        margin: 13px 0 0;
        padding: 30px 58px 0;
      }
    }
    .form-text__item-wrapper {
      @include adaptive(desktop) {
        display: flex;
        flex-direction: row;
      }
    }
    .form-text__item {
      @include adaptive(tablet) {
        flex-direction: column;
        margin-bottom: 26px;
      }
      @include adaptive(desktop) {
        flex-basis: 50%;
        margin-bottom: 14px;
      }
      &:first-child {
        margin-right: 72px;
      }
    }
    .form-text__label {
      @include adaptive(tablet) {
        order: 2;
        align-self: flex-start;
        padding-left: 19px;
        margin-top: 9px;
      }
    }
    .form-text__text-input {
      @include adaptive(tablet) {
        order: 1;
        padding: 20px 18px;
      }
    }
  }
  &--names {
    margin-top: 0;
    @include adaptive(tablet) {
      order: 1;
      margin-top: 45px;
    }
    @include adaptive(desktop) {
      flex-basis: 50%;
      margin-top: 47px;
    }
    .form-text__fieldset {
      margin: 23px 0 26px;
      @include adaptive(tablet) {
        margin: 22px 0 0;
      }
    }
    .main-container {
      @include adaptive(desktop) {
        padding-right: 35px;
      }
    }
  }
}

.form-text__span {
  @include adaptive(tablet) {
    display: none;
  }
}


.form-text__legend {
  display: none;
  @include font-regular();
  font-size: 14px;
  line-height: 18px;
  color: $clr-pink;
  text-transform: uppercase;
  text-align: center;
  @include adaptive(tablet) {
    display: block;
    padding: 0 32px;
  }
}

.form-text__fieldset {
  border: none;
  padding: 0;
  margin: 36px 0 26px;
  @include adaptive(tablet) {
    margin: 68px 0 0;
  }
}

.form-text__item {
  position: relative;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  @include adaptive(tablet) {
    flex-direction: row;
    margin-bottom: 49px;
  }
}

.form-text__label {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-pink;
  text-transform: uppercase;
  padding-left: 23px;
  flex-basis: 100%;
  @include adaptive(tablet) {
    flex-basis: 0;
    padding-left: 0;
    padding-right: 20px;
    align-self: center;
    margin-top: 5px;
  }
}

.form-text__text-input {

  border: 2px solid #e5e5e5;
  padding: 20px;
  margin-top: 5px;
  flex-basis: 100%;
}

.form-text__contact-icon {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  @include adaptive(tablet) {
    display: block;
  }
}

.form-text__icon {
  display: block;
  &--phone {
    width: 20px;
    height: 20px;
    margin: 19px auto;
  }
  &--mail {
    width: 18px;
    height: 14px;
    margin: 23px auto;
  }
}

