@import '../vars';

.form-checkbox {
  background: $clr-lightgrey-1;
  input[type='checkbox'] {
    display: none;
  }
  @include adaptive(tablet) {
    order: 4;
    background: none;
    margin-top: 23px;
  }
  @include adaptive(desktop) {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

.form-checkbox__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  @include adaptive(tablet) {
    border: 2px solid $clr-lightgrey-1;
    padding: 5px 58px 0;
  }
  @include adaptive(desktop) {
    padding: 5px 49px 0 58px;
  }
}

.form-checkbox__header {
  @include font-regular();
  font-size: 14px;
  line-height: 18px;
  color: $clr-pink;
  text-align: center;
  text-transform: uppercase;
  padding: 36px 20px;
  @include adaptive(tablet) {
    padding: 36px 32px;
  }
}

.form-checkbox__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 21px;
  @include adaptive(tablet) {
    padding: 7px 20px 0;
  }
  @include adaptive(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 9px 0 7px 20px;
  }
}

.form-checkbox__block {
  @include adaptive(desktop) {
    &:nth-child(2) {
      margin-left: -10px;
    }
  }
}

.form-checkbox__item {
  position: relative;
  display: flex;
  margin-bottom: 52px;
}


.form-checkbox__label {
  margin-left: 50px;
  cursor: pointer;
  @include font-regular();
  font-size: 18px;
  line-height: 30px;
  color: $clr-darkblue;
  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -4px;
    width: 35px;
    height: 35px;
    border: 2px solid $clr-lightgrey-2;
    background-color: $clr-white;
  }
  @include adaptive(tablet) {
    margin-left: 39px;
  }
  &:hover {
    &::before {
      border: 2px solid $clr-darkblue;
    }
  }
  &:active {
    &::before {
      border: 2px solid $clr-pink;
    }
  }
}

.form-checkbox__checkbox-input:checked ~ .form-checkbox__label::after {
  content: '';
  position: absolute;
  left: -12px;
  top: 3px;
  width: 20px;
  height: 11px;
  border: 2px solid $clr-pink;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}
