@import '../vars';

.form-textarea {
  margin-top: 51px;
  @include adaptive(tablet) {
    order: 3;
  }
}

.form-textarea__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-textarea__header {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-pink;
  text-transform: uppercase;
  text-align: center;
}

.form-textarea__textarea-input {
  width: 100%;
  padding: 15px 20px;
  min-height: 200px;
  box-sizing: border-box;
  margin-top: 11px;
}
