@import '../vars';

.form-radio {
  background: $bg-lightgrey;
  margin-top: 10px;
  padding-top: 34px;
  padding-bottom: 4px;
  input[type="radio"] {
    display: none;
  }
  @include adaptive(tablet) {
    order: 2;
    background: none;
    padding-top: 0;
  }
}

.form-radio__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  @include adaptive(tablet) {
    border: 2px solid #eeeeee;
    padding: 7px 58px 16px;
  }
}

.form-radio__header {
  @include font-regular();
  font-size: 14px;
  line-height: 18px;
  color: $clr-pink;
  text-transform: uppercase;
  text-align: center;
  @include adaptive(tablet) {
    padding: 0 25px;
  }
}

.form-radio__item {
  display: flex;
  position: relative;
  margin: 41px 0 44px 20px;
}

.form-radio__label {
  margin-left: 50px;
  @include font-regular();
  font-size: 18px;
  line-height: 30px;
  color: $clr-darkblue;
  @include adaptive(tablet) {
    margin-left: 39px;
  }

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.form-radio__radio-input:checked ~ .form-radio__label::after {
  content: '';
  position: absolute;
  left: -8px;
  top: 7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $clr-pink;
}
