@import '../vars';

@mixin bg-color-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}

.header {
  background: $bg-darkblue url('../img/bg-back-mobile@1x.jpg') no-repeat center;

  .header__logo {
    display: flex;
    align-items: center;
    background-color: transparentize($bg-darkblue, 0.7);
    padding: 20px 20px 15px;
  }

  .header__logo-img,
  .header__button-menu {
    flex-basis: 50%;
  }

  .header__logo-img {
    text-align: left;
  }

  .header__button-menu {
    text-align: right;
  }

  .header__button-menu button {
    border: none;
    background-color: $no-bg-color;
    padding: 0;
  }

  .header__menu--hidden {
    //display: none;
  }
  .header__pink-image {
    padding-top: 110px;
    margin-bottom: -5px;
  }

  .header__menu-list {
    list-style: none;
  }
  

}
