@import '../vars';

.header {
  display: flex;
  flex-direction: column;
  background: url(../../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;

  &--index {
    background: url(../../img/iphone-hand-mobile@1x.png) no-repeat 50% 39%, url(../../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;
  }
  &--background {
    background-color: #1d2631;
  }
  &--menu-opened {
    background-position: 50% 62%, 50% 49%;
  }
  @include adaptive(tablet) {
    background-size: 470px 550px, cover;
    background-position: 75% bottom, top;
  }
  @include adaptive(desktop) {
    background-size: 555px 645px, cover;
    background-position: 75% bottom, top;
  }
}

.header__main-header {
  @include font-light();
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  &--hidden {
    display: none;
    @include adaptive(tablet) {
      display: block;
    }
  }
}

.header__navbar {
  display: flex;
  flex-direction: column;

  @include adaptive(tablet) {

  }
  @include adaptive(desktop) {
    flex-direction: row;
  }
}

.header__logo {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  background-color: transparentize($bg-darkblue, 0.7);
  padding: 20px;
  @include adaptive(tablet) {
    padding: 40px;
  }
}

.header__logo-img,
.header__button-menu {
  flex-basis: 50%;
}

.header__logo-img {
  text-align: left;
}

.header__main-content {
  position: relative;
  text-align: center;
  @include adaptive(tablet) {

  }
  @include adaptive(desktop) {

  }
  &--main-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include adaptive(tablet) {
      flex-direction: row;
    }
  }
  &--pages {
    padding: 13px 0 39px;
  }
}

.header__button-menu {
  text-align: right;
  @include adaptive(desktop) {
    display: none;
  }
}

.header__button-burger,
.header__button-close {
  border: none;
  background-color: $no-bg-color;
  padding: 0;
}

.header__button--hidden,
.header__menu--hidden {
  display: none;
}

.header__pink-image {
  display: block;
  padding-top: 110px;
  @include adaptive(tablet) {
    margin: 0 auto;
    order: 2;
    position: absolute;
    right: 6%;
    bottom: 8%;
    width: 448px;
  }
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  background-color: $bg-darkblue;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.header__menu-item {
  padding: 15px;
  border-top: 2px solid #485461;
  a {
    @include font-bold();
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
  }
}

.header__download {
  background-color: $bg-darkblue;
  @include adaptive(tablet) {
    background-color: transparent;
    position: relative;
    flex-basis: 55%;
  }
  .main-container {
    padding-top: 66px;
    padding-bottom: 93px;
  }
}

.header__choose-os {
  list-style: none;
  display: flex;
  text-align: left;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 37px;
  @include adaptive(tablet) {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-top: 45px;
    margin-bottom: 32px;
  }
}

.header__os-item {
  flex-basis: 33.33%;
}

.header__os-item:nth-child(2) {
  @include adaptive(tablet) {
    opacity: 0.4;
  }
  @include adaptive(desktop) {
    opacity: 1;
  }
}

.header__download-description {
  @include font-light();
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  @include adaptive(tablet) {
    font-size: 18px;
  }
}

.header__photo-header,
.header__form-header {
  @include font-light();
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding: $content-padding;
}


