@import '../vars';

.main-header {
  margin-top: 45px;
  @include adaptive(tablet) {
    margin-top: 91px;
  }
  @include adaptive(desktop) {
    margin-top: 89px;
  }
}

.main-header__first-header,
.main-header__secondary-header {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-darkblue;
  text-align: center;
  &--hidden {
    display: none;
    @include adaptive(tablet) {
      display: inline;
    }
  }
  @include adaptive(tablet) {
    font-size: 18px;
    padding: 0 50px;
    margin: 0;
  }
  @include adaptive(desktop) {
    padding: 4px 70px 11px;
  }
}

.main-header__secondary-header {
  @include adaptive(tablet) {
    padding: 0;
  }
  @include adaptive(desktop) {
    padding: 0;
  }
}
