@import '../vars';

.page-headers {
  padding-top: 6px;
  @include adaptive(tablet) {
    padding-top: 15px;
  }
  @include adaptive(desktop) {
    padding-top: 35px;
  }
}

.page-headers__item-h2 {
  @include font-light();
  font-size: 24px;
  line-height: 28px;
  color: $clr-darkblue;
  text-align: center;
  margin-top: 34px;
  @include adaptive(tablet) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
  }
  @include adaptive(desktop) {
    font-size: 50px;
    line-height: 60px;
  }
}

.page-headers__item-h2:last-child {
  margin-top: 30px;
  @include adaptive(tablet) {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 50px;
  }
  @include adaptive(desktop) {
    padding: 0 260px;
  }
}
