@import '../vars';

.photos__header {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-darkblue;
  text-align: center;
  padding: 34px 15px 37px;
}

.photos__items-container {
  display: flex;
  flex-direction: column;
}

.photos__item {
  display: flex;
  flex-direction: column;
  background-color: $bg-lightgrey;
  margin-bottom: 20px;
  position: relative;
  &--best-photo {
    .photos__item-img {
      margin: 0 -20px;
    }
  }
}

.photos__photo-of-the-day {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $clr-pink;

}

.photos__photo-of-the-day-text {
  @include font-bold();
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 5px 20px;
}

.photos__user-name {
  @include font-bold();
  font-size: 14px;
  line-height: 24px;
  color: $clr-darkblue;
}

.photos__comment-time {
  @include font-light();
  font-size: 12px;
  line-height: 24px;
  color: $clr-darkblue;
  text-transform: uppercase;
}

.photos__user-review {
  padding: 4px 18px 7px;
}

.photos__user-comment {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-darkblue;
  margin-top: -15px;
  margin-bottom: -1px;
}

.photos__heart-icon {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 14px 0 0;
}

.photos__heart-icon-svg {
  width: 13px;
  height: 12px;
}

.photos__heart-icon-svg-path {
  fill: $clr-pink;
}

.photos__user-likes {
  display: inline-block;
  @include font-regular();
  font-size: 12px;
  line-height: 24px;
  color: $clr-pink;
  text-transform: uppercase;
}


