@import '../vars';

.pink-effect {
  background-color: $clr-white;
  position: relative;
  padding: 50px 0;
  .main-container {
    display: flex;
  }
  &--hidden-mobile {
    display: none;
  }
  @include adaptive(tablet) {
    display: block;
    padding: 54px 0 47px;
  }
  @include adaptive(desktop) {
    background-color: $clr-lightgrey;
    padding: 49px 0 59px;
  }
}

.pink-effect__timer,
.pink-effect__text-block {
  flex-basis: 50%;
  @include adaptive(tablet) {
    margin-top: 4px;
  }
  @include adaptive(desktop) {
    flex-basis: 39%;
  }
}

.pink-effect__text-block {
  margin-top: 17px;
  @include adaptive(desktop) {
    margin-top: 67px;
    flex-basis: 56%;
  }
}

.pink-effect__clock {
  width: 238px;
  height: 276px;
  @include adaptive(desktop) {
    width: 298px;
    height: 345px;
  }
}

.pink-effect__header {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $clr-black;
  @include adaptive(tablet) {
    margin-bottom: 24px;
  }
  @include adaptive(desktop) {
    line-height: 30px;
    margin-bottom: 38px;
  }
  span {
    @include adaptive(tablet) {
      padding-right: 150px;
    }
    @include adaptive(desktop) {
      padding-right: 0;
    }
  }
}

.pink-effect__text {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-darkblue;
  margin-bottom: 9px;
  margin-top: -14px;
  @include adaptive(desktop) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 31px;
  }
}

.pink-effect__link {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-pink;
  @include adaptive(desktop) {
    font-size: 18px;
    line-height: 30px;
  }
  &:hover {
    color: $clr-darkblue;
  }
  &:active {
    opacity: 0.3;
  }
}
