@import '../vars';

.popup-window {
  text-align: center;
  box-shadow: 0 0 13px 0 #ccc;
  padding-top: 24px;
  padding-bottom: 55px;
  &--success {
    .popup-window__text {
      margin-bottom: 33px;
    }
    .popup-window__button {
      box-shadow: 0 0 13px 0 #ccc;
      padding: 46px 20px 51px;
    }
  }
}

.popup-window__header {
  @include font-bold();
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}

.popup-window__text {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-darkblue;
  margin-bottom: 37px;
}

.popup-window__button {
  background-color: $bg-lightgrey;
  padding: 50px 20px;
}
