@import '../vars';

.reviews {
  position: relative;
  background-color: $bg-white;
  text-align: center;
  padding-top: 26px;
  .main-container {
    overflow: hidden;
  }
  @include adaptive(tablet) {
    padding-top: 55px;
    margin-bottom: -7px;
  }
}

.reviews__slider {
  width: 300%;
  display: flex;
}

.reviews__item {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
}

.reviews__item--hidden {
  visibility: hidden;
}

.reviews__author {
  @include font-bold();
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 17px;
  @include adaptive(tablet) {
    font-size: 20px;
    order: 2;
    margin-bottom: -5px;
  }
}

.reviews__text {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-darkblue;
  margin-top: -6px;
  @include adaptive(tablet) {
    order: 1;
    font-size: 18px;
  }
}

.reviews__author-info {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-darkblue;
  margin-top: 5px;
  &--hidden-mobile {
    display: none;
  }
  @include adaptive(tablet) {
    display: block;
    order: 3;
  }
}

