@import '../vars';

.reviews {
  position: relative;
  background-color: $bg-white;
  text-align: center;
  padding-top: 26px;
  & .main-container {
    overflow: hidden;
  }
}

.reviews__slider {
  width: 300%;
  display: flex;
}

.reviews__item {
  flex-basis: 33.33%;
}

.reviews__item--hidden {
  visibility: hidden;
}

.reviews__author {
  @include font-bold();
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  color: $clr-darkblue;
  margin-top: -6px;
}

.reviews__author-info {
  &--hidden-mobile {
    display: none;
  }
  @include adaptive(tablet) {
    display: block;
  }
}

.controls #first-slide:checked  .reviews__slider {
  transform: translateX(0);
}

.controls #second-slide:checked ~ .reviews__slider {
  transform: translateX(33.33%);
}

.controls #first-slide:checked ~ .reviews__slider {
  transform: translateX(66.66%);
}
