@import '../vars';

.send-form {
  margin-top: 44px;
  @include adaptive(tablet) {
    order: 6;
  }
}

.send-form__required {
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $clr-darkblue;
  text-align: center;
  margin-top: 34px;
}

.send-form__required-star {
  color: $clr-pink;
}
