@import '../vars';

.social {
  display: flex;
  flex-wrap: nowrap;
  @include adaptive(tablet) {
    align-self: center;
  }
  @include adaptive(desktop) {
    margin-left: 22px;
  }
}

.social__button {
  flex-basis: 33.33%;
  @include adaptive(tablet) {
    margin-right: 10px;
    margin-top: 12px;
    &:first-child {
      margin-left: -8px;
    }
  }
  svg {
    fill: $clr-pink;
  }
}

.social__button-icon {
  border: 3px solid transparentize($clr-darkblue, 0.9);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  margin: 0 auto;
}

.social__button-twitter-svg {
  width: 18px;
  height: 15px;
  padding: 17px;
  @include adaptive(tablet) {
    padding: 15px;
  }
}

.social__button-youtube-svg {
  width: 15px;
  height: 14px;
  padding: 17px 20px;
  @include adaptive(tablet) {
    padding: 15px 18px;
  }
}

.social__button-facebook-svg {
  width: 9px;
  height: 19px;
  padding: 15px;
  @include adaptive(tablet) {
    padding: 12px;
  }
}

.social__designed-by {
  text-align: center;
  margin-top: 40px;
  @include adaptive(tablet) {
    margin-top: 49px;
  }
}

.social__text {
  @include font-regular();
  font-size: 14px;
  line-height: 18px;
  color: $clr-darkblue;
  text-decoration: none;
  @include adaptive(desktop) {
    font-size: 18px;
  }
}

.social__designed-by-svg {
  width: 27px;
  height: 34px;
  fill: $clr-pink;
  vertical-align: middle;
  padding-left: 15px;
  @include adaptive(tablet) {
    padding-left: 12px;
  }
  @include adaptive(tablet) {
    padding-left: 9px;
  }
}
